<h1>List Of Members</h1>

<% @members.each do |member| %>
  <p>First Name: <%= member.first_name() %></p>
  <p>Last Name: <%= member.last_name() %></p>
  <p>Date of Birth: <%= member.date_of_birth() %></p>
  <p>Membership Type: <%= member.membership_type() %></p>
  <p>Membership ID: <%= member.id() %></p>


<form action="/members/<%= member.id%>">
<input type="submit" value="View Member"/>
</form>

  
  <hr />
<% end %>