<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Date of Birth: <%= @member.date_of_birth %></p>
<p>Membership Type: <%= @member.membership_type %></p>




<form class ="show_member_form" action="/members/<%= @member.id %>/edit">
    <input type="submit" value="Edit Member"/>
  </form>

<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Cancel Gym Membership"/>
</form>