

<p>Category: <%= @activity.category %></p>
<p>Date: <%= @activity.activity_date %></p>
<p>Time: <%= @activity.activity_time %></p>
<p>Spaces Available: <%= @activity.number_of_spaces %></p>
<p>Registered Members: <%= @activity.members_registered %></p>

<p>List of Members Attending:<p>
<% @members.each do |member| %>

<p>MemberShip ID:<%= member.id%></p>
<p>First Name:<%= member.first_name%></p>
<p>Last Name:<%= member.last_name%></p>

<hr />


<% end %>

<p><a href="/activities/<%= @activity.id %>/edit">Amend Activity Details</a></p>





<form method="post" action="/activities/<%= @activity.id %>/delete">
  <input type="submit" value="Cancel Activity"/>
</form>

