<h1>List Of Bookings</h1>




<table class="display-table">
        <tr>
          <th>Booking ID</th>
          <th>Member</th>
          <th>Activity</th>
        </tr>
        <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.id %></td>

          <td><%= booking.activity.activity_date %></td>

          
          <td><a href="/members/<%=booking.member().id%>"><%= booking.member().first_name %></a></td>

          <td><a href="/activities/<%=booking.activity().id%>"><%= booking.activity().category %></a></td>  

            <td><p><a href="/bookings/<%= booking.id %>">Show Booking</a></p></td>

          <td><form action="/bookings/<%= booking.id %>/delete" method="post">
            <input type='submit' value="Delete"></td>
          
        </tr>
        <% end %>
     </table>

  
 
 





 
