<h2>Create New Booking</h2>

<form method="post" action="/bookings">
  
     


<form action="/bookings" method="post">
  <label>
  Select a member:
    <select name="member_id">
      <% @members.each do |member| %>
      <option value="<%= member.id %>"><%= member.first_name %> <%= member.last_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select an activity:
    <select name="activity_id">
      <% @activities.each do |activity| %>
      <option value="<%= activity.id %>"><%= activity.category %></option>
      <% end %>
    </select>

  </label>

  <input type='submit' value="Book">
</form>