<h2 class="form-heading">Create New Booking</h2>

<form method="post" action="/bookings">
  
     
<div class="new-form">

<form  action="/bookings" method="post">
  <label></label>
    <select>
      <% @members.each do |member| %>
      <option value="" selected disabled hidden>Select Member Name</option>
      <option value="<%= member.id %>"><%= member.first_name %> <%= member.last_name %></option>
      <% end %>
    </select>
  

  <label>

    <select >
      <% @activities.each do |activity| %>
      <option value="" selected disabled hidden>Select Activity</option>
      <option value="<%= activity.id %>"><%= activity.category %></option>
      <% end %>
    </select>

  </label>

  <input type='submit' value="Book">

  </div>

</form>